VITE_API_URL=https://institute-xi.vercel.app
VITE_SITE_URL=https://institute-frontend-gamma.vercel.app
VITE_CLOUDINARY_CLOUD=drsfbaluf
VITE_CLOUDINARY_PRESET=image_preset
VITE_FACEBOOK_URL=https://facebook.com
VITE_INSTAGRAM_URL=https://instagram.com
VITE_TIKTOK_URL=https://tiktok.com
VITE_WHATSAPP_NUMBER=9779843340238
